::placeholder{
    text-align: center;
    color: red;
}

.inputs {
    width: 100%; 
    text-align: center; 
    font-family: 'Teko', sans-serif;
    color: black;
    font-size: 4vw;
    background: transparent;
    line-height: 2;
}