#inner-slots-div,
.day-view-container {
    width: 100%;
}

#inner-slots-header {
    -ms-flex-positive: 0.6;
    flex-grow: 0.6;
    -ms-flex-negative: 0.6;
    flex-shrink: 0.6;
    padding: 1pc;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 1pc;
    gap: 1rem;
}

#inner-slots-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.select-slot__mainSection___vG_Uv {
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    display: -ms-flexbox;
    display: flex;
}
.select-slot__cart___1msNd {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
}

.select-slot__dayViewHeader___18ei-,
.select-slot__dayView___2QHji {
    display: none;
}
.select-slot__dayViewTimezone___Y1-ts,
.select-slot__weekViewTimezone___3AjIl {
    font-size: 1pc;
    font-size: 1rem;
    padding-bottom: 24px;
    padding-bottom: 1.5rem;
}
#select-slot-week-view {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-top: 1.25rem;
}
.select-slot__weekViewHeader___1THtz {
    display: block;
}
.select-slot__leftPanel___2qY-6 {
    border-right: 1px dashed #969996;
    padding: 3px 1pc;
    padding: 0.2rem 1rem;
    text-align: center;
}
.select-slot__navigator___2CeeE {
    text-align: center;
    position: relative;
}
.select-slot__rightPanel___3xU30 {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 3px 1pc;
    padding: 0.2rem 1rem;
    font-size: 19px;
    font-size: 1.2rem;
    -ms-flex-align: end;
    align-items: flex-end;
}
.select-slot__headerContainer___1MhcB,
.select-slot__rightPanel___3xU30 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}
.select-slot__headerContainer___1MhcB {
    -ms-flex-positive: 0.6;
    flex-grow: 0.6;
    -ms-flex-negative: 0.6;
    flex-shrink: 0.6;
    padding: 1pc;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 1pc;
    gap: 1rem;
}
.select-slot__headerContent___12YHx {
    font-size: 35px;
    font-size: 2.2rem;
    padding: 3px;
    padding: 0.2rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    display: -ms-flexbox;
    display: flex;
}
.select-slot__largeMobileHeader___3XrOG {
    display: none;
}
.select-slot__headerNavigationControlArrows___M9DXg,
#select-header-nav-controls {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-preferred-size: 4;
    flex-basis: 4;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.select-slot__closeButton___1k0DT:focus,
.slot-datepicker-button:focus,
.select-slot__headerNavigationControlArrows___M9DXg button:focus,
#select-header-nav-controls button:focus,
.select-slot__showMore___2m7pe:focus,
.select-slot__slotLinkBox___2pBq7:focus {
    outline-style: dashed;
    outline-width: 2px;
    outline-offset: 1px;
    outline-color: #000;
}
.slot-datepicker-button,
.slot-datepicker-button:hover {
    background-color: transparent !important;
    margin-bottom: 0;
    margin-left: 8px;
    margin-left: 0.5rem;
}
.select-slot__disableControls___35kyn {
    pointer-events: none;
    color: #888;
}
.select-slot__navigationChevron___1YAIw,
.select-slot__navigationMonth___2OLOx,
.select-slot__navigationMonth___2OLOx i {
    margin: auto 2px;
    cursor: pointer;
    font-size: 35px;
    font-size: 2.2rem;
    border-radius: 3px;
    color: #1b6e9d;
    vertical-align: middle;
}
.select-slot__navigationMonth___2OLOx {
    position: relative;
    margin-top: 1px;
    width: 36px;
    height: 36px;
}
.select-slot__navigationMonth___2OLOx i:nth-child(1) {
    position: absolute;
    left: -5px;
    top: 1px;
}
.select-slot__navigationMonth___2OLOx i:nth-child(2) {
    position: absolute;
    left: 5px;
    top: 1px;
}

#select-slot-nav-button {
    text-transform: uppercase;
    min-width: 88px;
    min-width: 5.5rem;
    width: -moz-max-content;
    width: max-content;
    min-height: 28px;
    min-height: 1.8rem;
    height: -moz-max-content;
    height: max-content;
    border: 1px solid #1b6e9d;
    margin: auto 3px auto 5px;
    border-radius: 3px;
    font-size: 14px;
    font-size: 0.9rem;
    padding-left: 4px;
    padding: 0.1rem 0.3rem 0;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 0;
    background-color: transparent;
    font-family: Lato, latin, Helvetica, Arial;
    cursor: pointer;
    color: #1b6e9d;
    vertical-align: middle;
}

.slot-heading {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    text-align: center;
    font-size: 27px;
    font-size: 1.7rem;
    color: #545454;
    margin: auto;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    min-width: 3in;
    min-width: 18rem;
}
.slot-heading i {
    color: #1b6e9d;
    border-radius: 3px;
}
.slot-clickable {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.select-slot__serviceStaffAndLocationControls___1q4xh {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3px;
    margin: auto auto 0.2rem;
    -ms-flex-pack: left;
    justify-content: left;
    vertical-align: middle;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    word-break: break-word;
    word-wrap: anywhere;
}
.select-slot__serviceStaffAndLocationControls___1q4xh,
.select-slot__serviceStaffOrLocationButton___5GUjl {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.select-slot__serviceStaffOrLocationButton___5GUjl {
    border: 1px solid #3ba2dc;
    border-radius: 3px;
    padding: 4px;
    padding: 0.3rem;
    margin: 3px;
    margin: 0.2rem;
    font-size: 1pc;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    color: #3ba2dc;
    text-align: left;
    display: block;
    -ms-flex-align: center;
    align-items: center;
}
.select-slot__serviceStaffOrLocationIcon___3WFzp {
    font-size: 20px;
    font-size: 1.3rem;
}
.select-slot__serviceStaffOrLocationButton___5GUjl:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.select-slot__disableServiceStaffOrLocationButton___3fdCp {
    pointer-events: none;
    border-color: #777;
    color: #777;
}
.select-slot__disableServiceStaffOrLocationButton___3fdCp:hover {
    background-color: transparent;
}
.select-slot__serviceStaffOrLocationButton___5GUjl i,
.select-slot__serviceStaffOrLocationButton___5GUjl span {
    vertical-align: middle;
    margin-right: 4px;
    margin-right: 0.3rem;
}
.select-slot-nav-button {
    width: 3pc;
    width: 3rem;
    height: 3pc;
    height: 3rem;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50% !important;
    margin: 1pc 0;
    margin: 1rem 0;
    background-color: #e5e7eb;
    cursor: pointer;
}
.select-slot-nav-button > * {
    color: inherit;
    margin: 0;
    font-size: 40px;
    font-size: 2.5rem;
}
@media (min-width: 1200px) {
    .select-slot-nav-button {
        margin: 1rem 0;
    }
}
.select-slot-view-day-slots-header {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    text-align: center;
    font-size: 1pc;
    font-size: 1.05rem;
    padding: 1pc 0 !important;
    padding: 1rem 0 !important;
    border-top: 1px solid #d1d5db;
    border-bottom: 1px solid #d1d5db;
}
.select-slot-view-day-slots-header > div {
    padding: 8px 0;
    padding: 0.5rem 0;
}
.select-slot-view-day-slots-header {
    padding-bottom: 2px !important;
    padding-bottom: 0.13rem !important;
}
.select-slot-week-view-day-slots-header-short {
    font-weight: 600;
    display: none;
}
.select-slot-week-view-day-slots-header-long {
    font-weight: 600;
    display: block;
}
.select-slot-week-view-day-slots-header-date {
    font-weight: 700;
    font-size: 30px;
    font-size: 1.875rem;
    position: relative;
}
.select-slot-week-view-day-slots-header-date {
    color: #50e063;
}
.select-slot-week-view-day-slots-header-date:after {
    content: "Today";
    font-size: 11px;
    font-size: 0.7rem;
    display: block;
    color: #9ca3af;
}
.select-slot__openDayHeader___swtt6 {
    padding: 1pc;
    padding: 1rem;
    position: relative;
    text-align: center;
    margin: 0 0 1pc;
    margin: 0 0 1rem;
}
.select-slot__openDayHeader___swtt6 i {
    position: absolute;
    right: 1pc;
    right: 1rem;
    top: 1pc;
    top: 1rem;
    font-size: 2pc;
    font-size: 2rem;
}
.select-slot__dayViewHeaderDateShort___mfhm2 {
    display: none;
}

#select-slot-days-week {
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-size: 0.9rem;
}

.day-view-container {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    min-width: 0;
    text-align: center;
}
.select-slot__wednesday___33qQs {
    min-width: auto;
}
.day-view-container ol {
    max-height: 100%;
}
.select-slot__slotMorningEvening___1hHht {
    text-align: center;
    margin: 1pc;
    margin: 1rem;
    color: rgba(0, 0, 0, 0.47843);
}

.select-slot__closeButton___1k0DT {
    margin: auto;
    margin-right: 0;
    font-size: 28px;
    font-size: 1.8rem;
    cursor: pointer;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    display: block;
    margin-top: -37px;
    margin-bottom: -6px;
}
.select-slot__closeButton___1k0DT,
.select-slot__closeButton___1k0DT:hover {
    color: #000;
    background-color: transparent;
}
.day-view-container li {
    padding: 8px;
    padding: 0.5rem;
    color: #939393;
    color: #000;
    background-color: #e5e7eb;
    font-size: 1pc;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: none;
    border-radius: 0.5rem;
    margin-top: 3pc !important;
    margin-top: 3rem !important;
}
.day-view-container li,
.select-slot__slotLinkBox___2pBq7 {
    display: block;
    margin: 0 auto 8px;
    margin: 0 auto 0.5rem;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    width: 90%;
    max-width: 450px;
}
.select-slot__slotLinkBox___2pBq7 {
    cursor: pointer;
    outline: 1px solid transparent;
    padding: 8px 0;
    padding: 0.5rem 0;
    color: #000;
}
.select-slot__slotLinkBox___2pBq7:hover {
    border-style: solid;
    outline: 2px solid #1b6e9d;
}
.select-slot__showMore___2m7pe {
    color: #1b6e9d;
    text-decoration: none;
}
.select-slot__slotMeridiem___tonF7 {
    font-size: 0.8em;
}
.select-slot__slotLinkBox___2pBq7 {
    white-space: nowrap;
}
.select-slot__noSlotsHelpPopup___dtkhp {
    opacity: 0;
    pointer-events: none;
    display: none;
}
.select-slot__noSlotsHelpPopup___dtkhp a {
    color: #2ecd94;
}
.select-slot__noSlotsHelpPopupClose___3m0FK {
    width: 22px;
    height: 25px;
    color: #000;
    background: #fff;
}
.select-slot__noSlotsHelpPopupClose___3m0FK:focus,
.select-slot__noSlotsHelpPopupClose___3m0FK:hover {
    color: #000;
    background: #fff;
    outline: dashed;
    outline-color: #000;
}
.select-slot__noSlotsHelpPopupHelp___Y4V-d {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-size: 2pc;
    font-size: 2rem;
    margin-right: 8px;
    margin-right: 0.5rem;
}
.select-slot__noSlotsHelpPopupVisible___wICwD {
    position: absolute;
    bottom: 1pc;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 350px;
    padding: 1pc;
    padding: 1rem;
    display: -ms-flexbox;
    display: flex;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
    pointer-events: auto;
    background: rgb(36 45 59/75%);
    border-radius: 1pc;
    box-shadow: 0 4px 25px -8px rgb(0 0 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(78 98 131/41%);
    color: #fff !important;
}
.select-slot__noSlotsHelpPopup___dtkhp p {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    text-align: left;
}
.standard-header i {
    font-size: 2rem;
    vertical-align: top;
}
.select-slot__dayPickerOverlay___2JEsw {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.select-slot__dayPicker___o47Fi {
    position: absolute;
    left: 2in;
    left: 12rem;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="4" /><feOffset dx="1" dy="3" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.14)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge><feGaussianBlur in="SourceAlpha" stdDeviation="4" /><feOffset dx="1" dy="4" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.12)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="2" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.2)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.12))
        drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2));
    background-color: #fff;
    border-radius: 1rem;
    z-index: 2;
}
.select-slot__dayPicker___o47Fi::-moz-selection {
    border: None;
}
.select-slot__dayPicker___o47Fi::selection {
    border: None;
}
.select-slot__dayPicker___o47Fi .DayPicker-Day {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}
.select-slot__dayPicker___o47Fi .DayPicker-Day--selectedRange {
    border-radius: 0 !important;
    color: #000 !important;
    background-color: #99d1eb !important;
}
.select-slot__dayPicker___o47Fi .DayPicker-Day--hoverRange {
    border-top: 1px solid #3ba2dc;
    border-bottom: 1px solid #3ba2dc;
}
.select-slot__dayPicker___o47Fi .DayPicker-Day--hoverRangeStart {
    border-radius: 3px !important;
    border-left: 1px solid #3ba2dc;
}
.select-slot__dayPicker___o47Fi .DayPicker-Day--hoverRangeEnd {
    border-radius: 3px !important;
    border-right: 1px solid #3ba2dc;
}
.select-slot__dayPicker___o47Fi .DayPicker-Day--selectedRangeStart {
    background-color: #1b6e9d !important;
    color: #fff !important;
    border-left: 1px solid #3ba2dc;
}
.select-slot__dayPicker___o47Fi .DayPicker-Day--selectedRangeEnd {
    color: #fff !important;
    background-color: #1b6e9d !important;
    border-right: 1px solid #3ba2dc;
}
.select-slot__dayPicker___o47Fi .DayPicker-Caption,
.select-slot__dayPicker___o47Fi .DayPicker-NavBar {
    display: none;
}
.DayPicker-Weekday {
    color: #000;
}
.DayPicker-Day--outside {
    color: #8b2328;
}
@media screen and (max-width: 1200px) {
    .select-slot-week-view-day-slots-header-long {
        display: block;
    }
}
@media screen and (max-width: 1490px) {
    .day-view-container .select-slot__slotLinkBox___2pBq7 {
        white-space: initial;
    }
    .day-view-container .select-slot__slotSeparator___3b9pP {
        line-height: 0.6rem;
        display: block;
    }
    .day-view-container .select-slot__slotTimeAndMeridiem___i0TOa {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .select-slot-week-view-day-slots-header-short {
        display: block;
    }
    .select-slot-week-view-day-slots-header-long {
        display: none;
    }
}
.select-slot__locationName___3OUPe,
.select-slot__serviceName___14MHL,
.select-slot__staffName___7XsaJ {
    text-overflow: ellipsis;
    overflow: hidden;
}
.select-slot__navigationArrowButton___3Rn-C:focus {
    outline-style: dashed;
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: #000;
}
.select-slot__navigationArrowButton___3Rn-C,
.select-slot__navigationArrowButton___3Rn-C:hover {
    background: transparent !important;
    padding: 0;
}
.select-slot__weekButton___Q4ckI {
    margin-top: 1px;
}
.select-slot__invisible___AvKU3 {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    .select-slot__cart___1msNd {
        margin-left: 0;
    }
    .select-slot__largeMobileHeader___3XrOG {
        display: none;
    }
    .standard-header {
        display: block;
    }
    .select-slot__headerNavigationControlArrows___M9DXg {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #select-header-nav-controls {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .select-slot__navigationChevronLeft___1-Gir {
        -ms-flex-order: 1;
        order: 1;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .slot-heading {
        -ms-flex-order: 2;
        order: 2;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .select-slot__navigationChevronRight___2l1cV {
        -ms-flex-order: 3;
        order: 3;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .select-slot__headerContent___12YHx {
        padding: 0.8rem;
        display: block;
        -ms-flex-align: center;
        align-items: center;
    }
    .select-slot__serviceStaffAndLocationControls___1q4xh {
        display: block;
        height: auto;
        margin: 0;
    }
    .select-slot__serviceStaffOrLocationButton___5GUjl {
        max-width: none;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .select-slot__serviceStaffOrLocationIcon___3WFzp {
        font-size: 1.3rem;
    }
    .select-slot__dayViewHeaderDayDateShort___1FvcI,
    .select-slot__dayViewHeaderMonthYearShort___3weRa {
        line-height: 2.5rem;
    }
    .select-slot__dayViewHeaderDateLong___3nBKW {
        display: none;
    }
    .select-slot__dayViewHeaderNavigationShort___2H7Ic {
        display: -ms-flexbox;
        display: flex;
        margin: 0.8rem 0.3rem 0.7rem;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        vertical-align: middle;
    }
    .select-slot__dayViewHeaderDateShort___mfhm2 {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: -ms-flexbox;
        display: flex;
        font-size: 1.8rem;
        text-align: center;
        vertical-align: middle;
        line-height: 0.8rem;
        margin: 0.1rem;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .select-slot__navigationChevron___1YAIw {
        vertical-align: middle;
        margin: auto;
        border: 5rem;
        font-size: 3rem;
    }
    #select-slot-nav-button {
        padding: 2 0.5rem;
        min-width: 7rem;
        height: 2.2rem;
    }
    .select-slot__dayViewHeader___18ei-,
    .select-slot__dayView___2QHji {
        display: block;
    }
    .select-slot__weekViewHeader___1THtz,
    #select-slot-week-view {
        display: none;
    }
    .select-slot__selectedDayMarker___3XdPh > div {
        background-color: #e5e7eb;
        border-radius: 0.5rem;
    }
    .select-slot-week-view-day-slots-header-date:after {
        content: "";
    }
    .select-slot__mobileViewHeadingContainer___1E-cL {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-align: center;
        align-items: center;
    }
    .select-slot-nav-button {
        width: 2.5rem;
        height: 2.5rem;
    }
    .select-slot__mobileViewHeadingContainer___1E-cL h2 {
        width: 100%;
        margin-bottom: 0;
    }
    .select-slot__dayViewTimezone___Y1-ts,
    .select-slot__weekViewTimezone___3AjIl {
        font-size: 1.2rem;
    }
    .select-slot__slotLinkBox___2pBq7 {
        font-size: 1.4rem;
    }
    .day-view-container li {
        font-size: 1.4rem;
        padding: 0.5rem 0;
    }
    .slot-heading {
        text-align: center;
    }
    .select-slot__leftPanel___2qY-6,
    .select-slot__rightPanel___3xU30 {
        display: block;
        padding: 0.1rem;
        border: none;
    }
    .select-slot__headerContainer___1MhcB {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .select-slot__largeMobileHeader___3XrOG {
        display: none;
    }
    .standard-header {
        display: block;
    }
    .select-slot__headerNavigationControlArrows___M9DXg {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .select-slot__dayViewHeaderDayDateShort___1FvcI {
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 359px) {
    .slot-heading {
        font-size: 1.6rem;
    }
    .select-slot__navigationChevron___1YAIw {
        border: 1.6rem;
    }
    .select-slot__headerContent___12YHx {
        padding: 0.5rem;
    }
    .select-slot-week-view-day-slots-header-short {
        font-size: 0.9rem;
        font-weight: 500;
    }
    .select-slot__weekViewTimezone___3AjIl {
        font-size: 0.8rem;
    }
    .select-slot-nav-button {
        width: 1.5rem;
        height: 1.5rem;
    }
    .select-slot-nav-button > * {
        font-size: 1.5rem;
    }
    .select-slot__mobileViewHeadingContainer___1E-cL h2 {
        margin-left: 0.033rem;
        margin-right: 0.033rem;
    }
}
.select-slot__slotsSectionContainer___N1lwo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1pc;
    gap: 1rem;
}
.select-slot__dayContainer___1d18x,
.select-slot__renderManyDaysContainer___6tm1M,
.select-slot__renderOpenedDayContainer___3WEOT,
.select-slot__slotsContainer___22dUa,
.day-view-container {
    width: 100%;
}
.select-slot__slotsSectionContainer___N1lwo div:last-child {
    margin-top: 0;
}

@media screen and (max-width: 840px) {
    .select-slot__slotsSectionContainer___N1lwo {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -ms-flex-align: center;
        align-items: center;
    }
}

#checkout-div button {
    background-color: #e5e7eb;
    border: none;
    color: black;
    border-radius: 0.5rem !important;
    transition: none;
    transition: all 0.3s;
}

#checkout-div button:hover {
    background: #d1d5db;
    color: black;
}

#select-header-nav-controls > button {
    text-transform: uppercase;
    min-width: 5.5rem;
    width: -moz-max-content;
    width: max-content;
    min-height: 1.8rem;
    height: -moz-max-content;
    height: max-content;
    margin: auto 3px auto 5px;
    padding: 0.1rem 0.3rem 0;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 0;
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.25rem;
}

#loader {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
