@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.blinking{
  animation:blinkingText 1.2s infinite;
  font-size: 130%;
}

@keyframes blinkingText{
    0%{     color: #ffa500;    }
    49%{    color: #ffa500; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #ffa500;    }
}