/* Styling for Navbar */

/* START */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 0px;
    left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000CD;
    z-index: 10;
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    overflow-x: hidden;
    overflow-y: scroll;
}

li {
  float: left;
}

li a {  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:green;
}
li a:hover:not(.active) {
  background-color: blue;
}

.active {
  background-color: orange;
}

.topnav{
  display: none;
}
/* END */

div p {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    font-size: 200%;
    font-family: 'Nunito', sans-serif;
}
.PS4,
.VR {
    position: absolute;
    top: 61%;
    z-index: 1;
}

.PS4 {left: 5%;}

.VR {
    right: 7%;
}

.Switch,
.Xbox {
    position: absolute;
    top: 100%;
    z-index: 1;
}

.Xbox {left: 5%;}

.Switch {
    right: 5%;
}

.Tab, .PS5{
    position: absolute;
    top: 145%;
    z-index: 1;
}

.Tab {left: 6%;}

.PS5{
    right: 5%;
}

.XBX{
    position: absolute;
    top: 216%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blinking{
    animation:blinkingText 1.2s infinite;
    font-size: 130%;
}

@keyframes blinkingText{
    0%{     color: #ffa500;    }
    49%{    color: #ffa500; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #ffa500;    }
}

@media only screen
and (min-width : 1px) and (max-width : 828px) {

    .navbar {
        display: none;
    }
  
    .active{
      background-color: blue;
      color: white;
    }
  
    .topnav{
      display: block;
      overflow: hidden;
      font-family: 'Teko', sans-serif;
      font-size: 100%;
      background-color: blue;
      width: 100%;
      left: 0%;
      top: 0%;
      position: fixed;
      z-index: 10;
    }
  
    .topnav #myPages{
      display: none;
    }
  
    .topnav a{
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 150%;
      display: block;
    }
  
    .topnav a.icon {
      background: blue;
      display: block;
      position: fixed;
      right: 0%;
      top: 0%;
    }
    
    .topnav a:hover {
      background-color: orange;
      color: black;
    }
    
    div p {
        top: 10%;
        font-size: 150%;
        left: 0%;
    }

    .PS4 {
        top: 60%;
        width: 100%;
        height: 29%;
        left: 2%;
    }
    
    .VR {
        left: 0%;
        top: 95%;
        width: 100%;
        height: 23%;
    }

    .Xbox {
        top: 120%;
        width: 100%;
        height: 26%;
        left: 0%;
    }

    .Switch {
        top: 144%;
        width: 100%;
        height: 32%;
        left: 2%;
    }

    .Tab {
        top: 174%;
        width: 101%;
        height: 26%;
        left: 0%;
    }

    .PS5{
        top: 201%;
        width: 100%;
        height: 26%;
        left: 0%;
    }

    .XBX{
        top: 253%;
        width: 100%;
        height: 50%;
        left: 50%;
    }
}