@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  top: 0px;
  left: 0px;
  list-style-type: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000CD;
  z-index: 10;
  font-family: 'Teko', sans-serif;
  font-size: 150%;
  overflow-x: hidden;
}

.lists {
  float: left;
}
.navbar a {
  color: white;
  padding: 1rem;
  transition: 0.5s;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.left, .right {
  background-color: orange !important;
  padding: 1% 2%;
}

@media (max-width: 815px) {
  .navbar a {
    font-size: 2.7vw;
  }
}