@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.prices {
  margin-top: -77%;
  font-size: 200%;
  font-family: 'Comfortaa', cursive;
}

ul.HoursList {
  flex-direction: column;
  list-style: none;
  float: right;
  margin: 0;
}

ul.HoursList li {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.PLUS {
    font-size: 200%;
    color: orange;
}

@media only screen
and (min-width : 320px) and (max-width : 828px) {
    
    img{
      top: 8%;
    }

    .prices  {
        top: 13%;
        width: 100%;
        font-size: 150%;
        left: -4%;
    }

    ul.HoursList {
        list-style: none;
        float: right;
        margin: 0;
    }

    ul.HoursList li {
        line-height: 46px;
        margin: 0;
    }
}