#parentdiv {
    margin: 0 1rem;
    margin-top: 1rem;
    font: 400 14px / 18px system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#reviewsubtitle {
    letter-spacing: 0.05rem;
    font-size: 4vw;
}

#TopReviewsContainer {
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
}

#TabsContainer_Inner {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.eyarYd, .eyarYd * {
    box-sizing: border-box !important;
    outline: none !important;
}

.eyarYd {
    position: relative;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

.cFMrET:not(:only-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.cFMrET {
    /* border-radius: 8px; */
}
#ratingnum {
    color: black;
    font-size: 20px;
}
.kaXWRJ {
    overflow: hidden;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    transition: background-color 0.1s ease 0s;
    background-color: rgba(17, 17, 17, 0.05);
}

.kWhNOk {
    display: flex;
    padding-left: 1rem;
    align-items: center;
    padding-block: 0.25rem;
}

.iluRKv * {
    /* -webkit-user-select: none; */
}

.hLJjKZ {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    /* align-items: center; */
    height: 44px;
    line-height: 1;
    cursor: pointer;
}

.kaXWRJ .reviewtabs > div {
    margin: 0rem 0.5rem;
}

.kaXWRJ .reviewtabs:first-child > div {
    margin-left: 0.5rem;
}
.reviewtabs.gbMejj {
    max-height: 6vh;
    display: flex;
}
.fYHkoy {
    display: flex;
    z-index: 2;
    -webkit-box-align: center;
    align-items: center;
}
.fvcFQJ {
    font-weight: 400;
    color: rgb(17, 17, 17);
    line-height: 1;
    white-space: nowrap;
}
.hlAsxU {
    font-weight: 700;
    line-height: normal;
    color: rgb(17, 17, 17);
    margin-left: 0.5rem;
}

.hHDmip:not(:first-child) {
    margin-left: 8px;
}

.hLJjKZ:hover::before {
    opacity: 0.1;
    transform: scale(1);
}
.hLJjKZ::before {
    position: absolute;
    z-index: 1;
    display: block;
    inset: 6px -9px;
    border-radius: 16px;
    opacity: 0;
    transform: scale(0.8);
    background-color: rgb(17, 17, 17);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    content: "";
}
 


.kqGYQX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fdNGvL:not(:first-child) {
    margin-left: 8px;
}


.ezwNNr:not(:only-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ezwNNr {
    border-radius: 8px;
}

.fFcWqO {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px 24px;
    background-color: rgba(17, 17, 17, 0.05);
}

.ifLRlC {
    margin-right: 24px;
}

.dmlKKH {
    color: rgb(17, 17, 17);
    font-size: 20px;
    display: flex;
    -webkit-box-align: center;
    white-space: nowrap;
}
.cOdTFM {
    margin-top: 0.175rem;
    line-height: 2em;
}

.cMwniS {
    margin-right: 8px;
}

.dosZLJ {
    flex: 0 1 0%;
}

.dosZLJ > div {
    width: inherit;
    height: inherit;
}

.dosZLJ > div > svg {
    display: block;
    width: inherit;
    height: inherit;
}


.ecFtME {
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
}

.bJFeVI:not(:only-child) > :last-child {
    margin-right: 12px;
}

.hoAzGt:not(:last-of-type) {
    margin-right: 0px;
}

.hoAzGt {
    position: relative;
    width: 20px;
    height: 20px;
}

.chMKQB {
    position: absolute;
    inset: 0px;
    margin: auto;
    line-height: 0;
}

.biFvfu {
    clip-path: inset(0px 0% 0px 0px);
}

.chMKQB svg {
    position: static !important;
    width: 100% !important;
    height: 100% !important;
}

.bFQRJO path {
    fill: rgba(17, 17, 17, 0.2) !important;
}

.eaRlNB {
    overflow: hidden;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    color: rgba(17, 17, 17, 0.5);
    margin-left: 1vw;
    white-space: nowrap;
}

.biFvfu path {
    fill: rgb(252, 191, 2) !important;
}

#writereview {
    margin-top: 0.5rem;
    border-radius: 4px;
    background-color: rgb(25, 123, 255);
    font-size: 15px;
    text-align: center;
    padding: 8px 20px;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.32;
}

#slidercontainer {
    padding: 1.5rem 1.5rem;
}