#coaches {
  margin-top: 10%;
  text-align: center;
  font-size: 225%;
  color: orange;
  font-family: 'Teko', sans-serif;
}
#gctitle {
  font-family: 'Bangers', cursive;
}
#coaches > :nth-child(2) {
  color: floralwhite;
  font-size: 6vw;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 652px) {
  #coaches > :nth-child(2) {
    font-size: 4vw;
  }
}
@media (min-width: 880px) {
  #coaches > :nth-child(2) {
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  #coaches {
    margin-top: 15vh !important;
  }
}