#namestarts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

#topdiv {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#topdivimg {
    height: 44px !important;
    width: 44px !important;
}

#namestarts > p {
    font-size: 14px;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0px;
}

#topdiv p:last-child {
    margin: 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#slideparent {
    background-color: transparent;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    /* position: absolute;
    top: 3rem;
    left: 1rem; */
    color: black;
}

.awssld__content {
    background-color: transparent;
    padding-inline: 1rem;
}

#readmore {
    display: inline-block;
    font-size: 14px;
    color: rgba(17, 17, 17, 0.5);
    margin-top: 0.25rem;
}
#readmore:hover {
    text-decoration: underline;
}

#reviewtext {
    width: 95% !important;
    text-align: left;
    margin-left: 0px !important;
    margin-top: 8px !important;
    line-height: 1.4;
    color: rgb(17, 17, 17);
    font-size: 16px;
}

#timedisplay {
    overflow: hidden;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(17, 17, 17, 0.5);
}
.awssld--active {
    /* height: 100% !important; */
}

#slidestars {
    margin-right: 0.5rem;
    margin-top: 0.33rem;
}

#starsnname {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#reviewtextbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.awssld__controls {
    margin-top: 1rem;
}