#packdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
#packdiv .title-wrapper .section-title {
    margin-bottom: 60px;
}
#packdiv .section-title,
#packdiv .title-wrapper {
    text-align: center;
}
#packdiv .items-wrapper .item {
    margin-bottom: 20px;
}
#packdiv .items-wrapper .item .item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(circle at 10% 0%, #0047ff, #e09102 50%);
    padding: 48px;
}
#packdiv .items-wrapper .item .item-wrapper .item-img {
    width: 50%;
}
#packdiv .items-wrapper .item .item-wrapper .item-img img {
    height: 400px;
    object-fit: cover;
    transition: 0.3s;
}
#packdiv .items-wrapper .item .item-wrapper .card-box {
    width: 42%;
}
#packdiv .card-box {
    width: 100%;
}
#packdiv .items-wrapper .item .item-wrapper .card-box .item-title {
    margin-bottom: 22px;
}
#packdiv .items-wrapper .item .item-wrapper .card-box .item-text {
    margin-bottom: 22px;
}
#packdiv .item {
    position: relative;
}
@media (max-width: 992px) {
    #packdiv .items-wrapper .item {
        margin-bottom: 16px;
    }
    #packdiv .items-wrapper .item .item-wrapper {
        display: block;
        padding: 16px;
    }
    #packdiv .items-wrapper .item .item-wrapper .item-img {
        width: 100%;
        margin-bottom: 22px;
    }
    #packdiv .items-wrapper .item .item-wrapper .item-img img {
        height: 350px;
    }
    #packdiv .items-wrapper .item .item-wrapper .card-box {
        width: 100%;
    }
}
.prices {
    margin-top: -77%;
    font-size: 200%;
    font-family: "Comfortaa", cursive;
}
#liul {
    flex-direction: column;
    list-style: none;
    float: right;
    margin: 0px;
}
#liul > li {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    color: white;
    font-size: 1.25rem;
}
#liul > :first-child {
    text-decoration: underline;
}
#PLUS {
    font-size: 200%;
    color: orange;
}
ul.HoursList {
    flex-direction: column;
    list-style: none;
    float: right;
    margin: 0;
}
#recpack {
    margin-top: 5.5%;
    opacity: 0.04;
}
ul.HoursList li {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
#listdiv {
    font-size: 6vw;
    margin-block: 10%;
    font-family: "Comfortaa", cursive;
    padding: 0rem 2rem;
}
.PLUS {
    font-size: 200%;
    color: orange;
}

@media (max-width: 828px) {
    img {
        top: 8%;
    }

    .prices {
        top: 13%;
        width: 100%;
        font-size: 150%;
        left: -4%;
    }

    ul.HoursList {
        list-style: none;
        float: right;
        margin: 0;
    }

    ul.HoursList li {
        line-height: 46px;
        margin: 0;
    }
    #listdiv {
        margin-top: 15vh;
    }
}

@media (min-width: 768px) {
    #listdiv {
        font-size: 3vw;
    }
}
