#bdaycard {
    margin-top: 5vh;
}
.bdayimg {
    margin-top: 6.5%;
}
#CardtoSave input::placeholder {
    color: #9ca3af !important;
}
#CardtoSave > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 138px;
}
.inputs ::placeholder {
    text-align: center;
    color: red;
}
.inputs {
    text-align: center;
    font-family: "Teko", sans-serif;
    color: black;
    font-size: 5vw;
    background: transparent;
    line-height: 2;
}
#bdaydisclaimer {
    display: flex;
    justify-content: center;
    font-family: Teko, sans-serif;
    color: white;
    font-size: 4vw;
    margin-top: 4vw;
    text-align: center;
}
#CardtoSave > input {
    background-color: white;
    max-width: 75vw;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}
#bdaybutton {
    width: 30vw;
    background-color: orange;
    font-size: 6vw;
    font-family: Teko, sans-serif;
}
.bdaydivs {
    gap: 180px;
}
.bdaydivs > * {
    width: 333px;
}
.bdaydivs > :first-child {
    margin-left: 0;
}
.bdaydivs > :nth-child(2) {
    /* margin-left: 211px; */
}
@media (max-width: 435px) {
}
@media (max-width: 400px) {
}
@media (max-width: 350px) {
    #bdaydiv1 {
        margin-top: -14.5vw;
    }
}
@media (min-width: 700px) {
    #CardtoSave > input {
        max-width: 50vw;
    }
    .inputs {
        font-size: 3vw;
    }
    .inputs {
        line-height: 1.5;
    }
    #bdaybutton {
        width: 20vw;
        font-size: 3vw;
    }
}
